



#texto{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

#texto0{
    text-transform: uppercase;
    font-size: 23px;

}

#texto1{
    text-transform: uppercase;

}


select {
    border: 1px solid #333;
  }
#prueba{
    font-weight: bold;
}

#texto0{
    font-weight: bold;
}

#texto1{
    font-weight: bold;
}

#id{
    text-transform: uppercase;
}

#segundo{
    text-transform: uppercase;

}
#id2{
    border-bottom: 1px solid;
}

#txt{
    text-transform: uppercase;
    font-weight: bold;
}

#borde{
    border: none;
}

#borde1{
    border: none;
}

#borde2{
    border: none;
}


#table{
    text-transform: uppercase;
}

#table1{
    text-transform: uppercase;
}
#table2{
    text-transform: uppercase;
}
#table3{
    text-transform: uppercase;
}
#table4{
    text-transform: uppercase;
}
#table5{
    text-transform: uppercase;
}
#table6{
    text-transform: uppercase;
}

#input-2{
    border-bottom: 1px solid black;
}

#tablaa{
    text-transform: uppercase;
    text-align: center;
}

#uno{
    text-transform: uppercase;
    font-size: 14px;
}

#peque{
    font-size: 15px;
}

#ultimo{
    text-transform: uppercase;
    text-align: center;
}



